* 
{
    font-family: 'Libre Franklin';
    color: #222;
}

p
{
	font-size: 16px;
}

body 
{
    margin: 0;
    padding: 25px;
	padding-bottom: 100px;
    background-color: #f2f2f2;
}

.banner
{
	margin: auto;
	width: 500px;
	background-color: #d2d2d2;
	text-align: center;
	border-radius: 25px;
	padding: 5px;
}

h1
{
	font-size: 50px;
}

.imglink
{
    margin: 40px;
    text-align: center;
}

.link
{
    margin: 11px;
    position: relative;
    transition: .5s ease;
    display: inline-block;
    box-shadow: 5px 5px;
}

.image
{
    display: block;
    width: 100px;
    height: 100px;
    border-size: 4px;
    border-style: solid;
    border-color: #222;
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: black;
}

.link:hover
{
    transform: scale(1.1);
}

h3
{
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #f2f2f2;
    text-align: center;
}

.footer p
{
	color: white;
}

a
{
    color: #3D9970;
}

.buttons_container
{
    text-align: center;
}

.button
{
    display: inline-block;
	text-align: center;
	margin-bottom: 100px;
}

.button a
{
	color: white;
	background-color: black;
	padding: 5px;
}

.device_container
{
    text-align: center;
}

.device
{
    display: inline-block;
    background-color: #d2d2d2;
    text-align: center;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.device img
{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: darkgrey;
}

.plus p
{
    background-color: #3D9970;
    color: #ffffff;
    padding: 5px;
}

.minus p
{
    background-color: #990F02;
    color: #ffffff;
    padding: 5px;
}

.plus a
{
    color: #ffffff;
}

.minus a
{
    color: #ffffff;
}

.alert
{
    background-color: #f1fa8c;
    padding: 10px;
}

a i 
{
    color: #3D9970;
}

.alert i
{
    display: inline-block;
    width: 5%;
    vertical-align: middle;
    padding-right: 10px;
}

.alert p
{
    display: inline-block;
    width: 93%;
    vertical-align: middle;
}

.donate
{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
}
